.steps{
    width: calc( 100% - 4em );
    position: relative;
    margin-top: -3em;
    margin-left: auto;
    margin-right: auto;
    height: 0;
    overflow: hidden;
    opacity: 0;

    font-size: 1em;

    .step_text{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center; // space-around

        >div{
            width: 50%;
            font-size: 1.9em;
            font-family: 'El Messiri', sans-serif;
            line-height: 1.2em;
            text-align: center;
            color: #32394a;
        }

        >div.step1{
            opacity: 1;

            span{
                margin-left: 0;
            }
        }
        >div.step2{
            opacity: 0;
            span{
                margin-left: -40%;
            }
        }

    }

    .step_bg{
        position: relative;
        top: 0;
        left: 0;
        width: 50%;
        margin-top: 0.5em;
        height: 0.4em;
        border-radius: 0.2em;
        background-color: #a1e26e;
        transition: left 0.4s ease-out;
    }

}

// @media screen and (min-width: 100px) and (max-width: 480px){
//     .steps .step_text span{
//         font-size: 18px;
//     }
// }